[submodule "vendor/sdl"]
	path = vendor/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/sdl_shadercross"]
	path = vendor/sdl_shadercross
	url = https://github.com/libsdl-org/SDL_shadercross.git
[submodule "vendor/sdl_image"]
	path = vendor/sdl_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/implot"]
	path = vendor/implot
	url = https://github.com/epezent/implot.git
