[submodule "vendor/sdl"]
	path = vendor/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/sdl_shadercross"]
	path = vendor/sdl_shadercross
	url = https://github.com/libsdl-org/SDL_shadercross.git
